@import "thema/App";
@import "thema/Header";
@import "thema/Navigation";
@import "thema/HomePage";
@import "thema/ContactPage";


body, html {
  margin: 0;
  background-size: contain;
  -moz-background-size: contain;
}

h3 {
  margin: 10px 20px;
  padding: 0;
  font-size: 20px;
  color: white;
}


